<div class="login-container">
  <div class="login-card">
    <h2>Bem-vindo de volta!</h2>
    <p>Insira suas credenciais para aceder à sua conta.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Campo E-mail -->
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" placeholder="seuemail@exemplo.com">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="error-message">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">Por favor, insira um e-mail válido.</span>
        </div>
      </div>

      <!-- Campo Senha -->
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" formControlName="senha" placeholder="Sua senha">
         <div *ngIf="loginForm.get('senha')?.touched && loginForm.get('senha')?.errors?.['required']" class="error-message">
          A senha é obrigatória.
        </div>
      </div>

      <!-- Botão de Envio -->
      <button type="submit" [disabled]="!loginForm.valid" class="submit-btn">Entrar</button>
    </form>
    
    <div class="register-link">
      Não tem uma conta? <a href="/register">Cadastre-se</a>
    </div>
  </div>
</div>
