:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }

  p {
    margin-bottom: 30px;
    color: #666;
  }
}

// Estilos para o wrapper do logo e a imagem
.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2px; // Espaçamento entre o logo e o título "Bem-vindo de volta!"
}

.logo-image {
  width: 350px; // Largura do logo (ajuste conforme necessário)
  height: auto; // Altura automática para manter a proporção
  object-fit: contain; // Garante que a imagem mantenha a proporção e se encaixe
  margin-top: -150px; // Puxa o logo para cima para que fique acima do card de login
  margin-bottom: -150px; // Adiciona um pequeno espaço entre o logo e o card
}

.form-group {
  margin-bottom: 20px;
  text-align: left;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #a0c7e4;
    cursor: not-allowed;
  }
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #666;

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
